body {
   margin: 0;
   padding: 0;
   background: #FFF;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

.profile img {
  width: 100%;
}

.profile .view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 10px;
  background: #fff;
  color: #262626;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.det {
  height: 52%;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 30px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: .5s;
  transform: perspective(500px) scaleX(0);
}

.det.active {
  bottom: 0;
  transform: perspective(500px) scaleX(1);
}

.det h2 {
  margin: 0;
  padding: 0;
  color: #607db8;
  font-size: 18px;
  text-transform: uppercase;
}

.det h2 span {
  font-size: 14px;
  color: #ccc;
}

.det p {
  margin: 0;
  padding: 10px 0 0;
  font-size: 14px;
  color: #aaa;
}

h3 {
  background: #00bcd4;
  color: #fff;
  padding: 8px 50px;
  border-radius: 25px;
  display: -webkit-inline-box;
}

.det ul {
  margin:0;
  padding: 0;
  display: flex;
}

.det ul li {
  list-style: none;
  font-size: 20px;
  width: 33.3%;
}

.det ul li:nth-child(1) .fa {
  color: #3b5998;
  font-size: 30px;
}

.det ul li:nth-child(2) .fa {
  color: #111111;
  font-size: 30px;
}

.det ul li:nth-child(3) .fa {
  color: #1da1f2;
  font-size: 30px;
}
.close {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #f00;
  cursor: pointer;
}
